<p>answer-new.hbs</p>

<div class="new-post-container container">
    <h1>New Answer</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input class="form-control" value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{input class="form-control" value=content id="content"}}
        </div>

        <button class="btn btn-success" {{action 'save'}}>Save</button>
      </form>
    </div>
</div>