<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Log In</h3>
          <br>
          <form class="login-form">
            <div class="form-group">
              <label for="identification">Username</label>
              {{input class='form-control' id='identification' placeholder='username' value=identification}}
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              {{input class='form-control' id='password' placeholder='password' type='password' value=password}}
            </div>
       
            <button {{action 'authenticate'}} class="btn btn-success">Log In</button>
            {{#if errorMessage}}
              <p>{{errorMessage}}</p>
            {{/if}}
          </form>
          <br>
          <br>
          <p>Don't have an account?{{#link-to 'signup'}} Create an account{{/link-to}}</p>
        </div>
      </div>
    </div>
  </div>
</div>