<div class="ticketTile">
  <p><b>{{#link-to 'ticket' ticket.id}}{{ticket.summary}}{{/link-to}}</b><br>
    <i>created {{moment-from-now ticket.datecreated interval=1000}} by {{ticket.user.fullName}} on {{moment-format ticket.datecreated}}</i></p>
    <hr class="horizontalRule">
</div>
