<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User Accounts<span class="badge">{{model.length}}</span></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |user|}}
          <tr>
          <th scope="row">{{#link-to 'user' user.id}}{{user.id}}{{/link-to}}</th>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>