.fa{
  color: #9D9D9D;
  padding-top: 10px;
  padding-left: 10px;
}

.footer-container{
  float:right;
}

.footer-container a:link {
  text-decoration: none; /* remove blue underline on hover */
}

a.test{
  margin-right: 40px;
  color: #9D9D9D;
  text-decoration: none;
}

/*.form-control {
  width: 50vw;
  box-shadow: 3px 3px 4px #777777;

}*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #222222;
}

body{
  padding-top: 70px;
  padding-bottom: 70px;
}

.badge {
  margin-left: 7px;
}

.logged {
  margin-right: 80px;
}

.ticket h1{
  margin-bottom: 30px;
}
body .container {
  padding-top: 50px;
}
.checkbox {
  display: inline-block;
  margin-left: 4px;
}
.jumbotron {
  box-shadow: 3px 3px 4px #777777;
}
.create-ticket {
  border: 2px solid #9D9D9D;
}
.commentTile {
  width: 40vw;
  min-width: 360px;
  max-width: 600px;
  padding: 8px 12px;
  margin: 8px 0;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.index h1 {
  margin-top: 50px;
}
.horizontalRule {
  width: 55vw;
  margin-left: 0;
}
.status {
  display: flex;
  justify-content: flex-start;
}

.status .label {
  margin-left: 10px;
  /*background-color: #6ba6d6;*/
}
.ticketFullName {
  font-weight: bolder;
  font-size: 1.1em;
}
.timeOnCommentTile {
  color: #bababa;
  float: right;
  padding-bottom: 5px;
}
.commentTile:hover   {
  background: #f4f4f4;
  transform: scale(1.015);
}
.ticket-edit-hbs {
  margin-bottom: 30px;
}
