<p>index.hbs</p>
{{log session.isAuthenticated}}
{{log session.data}}

{{ticket-new save="save" user=model}}

<h1>Unresolved Tickets</h1>
<p>This should only be visible if the logged in user is a teacher</p>
<!-- {{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}} -->
