<p>user information for specific user will be displayed on this page.</p>

<p>ideas for things to include:</p>
<ul>
  <li>all questions from specific user</li>
  <li>all answers from specifc user</li>
</ul>